#
# Copyright 2021 The Modelbox Project Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# clang-tidy checks
# https://clang.llvm.org/extra/clang-tidy/checks/list.html

Checks: >
  -*,
  modernize-*,
  bugprone-*,
  concurrency-*,
  misc-*,
  readability-*,
  performance-*,
  portability-*,
  google-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-make-unique,
  -modernize-use-using,
  -modernize-use-equals-delete,
  -modernize-use-nodiscard,
  -modernize-use-transparent-functors,
  -modernize-deprecated-headers,
  -bugprone-lambda-function-name,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  -bugprone-reserved-identifier,
  -concurrency-mt-unsafe,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -misc-lambda-function-name,
  -misc-misplaced-widening-cast,
  -misc-no-recursion,
  -readability-simplify-boolean-expr,
  -readability-container-size-empty,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-make-member-function-const,
  -readability-magic-numbers,
  -readability-use-anyofallof,
  -readability-function-cognitive-complexity,
  -google-readability-avoid-underscore-in-googletest-name,
  -google-default-arguments,
  -google-runtime-int,
  -google-runtime-references,
  -google-readability-casting,
  -google-readability-todo,
  -google-explicit-constructor,
  

# enable this when required
  # clang-analyzer-*,
  # clang-analyzer-deadcode.DeadStores,
  # clang-analyzer-optin.performance.Padding,
  # clang-analyzer-optin.cplusplus.VirtualCall,

# Turn all the warnings from the checks above into errors.
HeaderFilterRegex: '((?!build/)src|test/unit|test/drivers|test/function|test/mock)/*'
FormatStyle: file
