#
# Copyright 2021 The Modelbox Project Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# clang-tidy checks
# https://clang.llvm.org/extra/clang-tidy/checks/list.html

Checks: >
  -*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-loop-convert,
  -modernize-make-unique,
  -modernize-pass-by-value,
  -modernize-use-using,
  -modernize-use-equals-delete,
  -modernize-use-nodiscard,
  -modernize-use-transparent-functors,
  -modernize-deprecated-headers,
  bugprone-*,
  -bugprone-lambda-function-name,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  performance-*,
  -performance-unnecessary-value-param,
  -performance-for-range-copy,
  -performance-inefficient-string-concatenation,
  -performance-noexcept-move-constructor,
  -performance-unnecessary-copy-initialization,
  -performance-faster-string-find,
  -performance-no-automatic-move,
  -performance-inefficient-vector-operation,
  -performance-move-const-arg,
  -performance-type-promotion-in-math-fn,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -misc-unconventional-assign-operator,
  -misc-lambda-function-name,
  -misc-misplaced-widening-cast,
  readability-*,
  -readability-simplify-boolean-expr,
  -readability-container-size-empty,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-make-member-function-const,
  concurrency-*,
  portability-*,
  google-*,
  -google-readability-avoid-underscore-in-googletest-name,
  -google-default-arguments,
  -google-runtime-int,
  -google-runtime-references,
  -google-readability-casting,
  -google-readability-todo,
  -google-explicit-constructor,
  

# enable this when required
  # clang-analyzer-*,
  # clang-analyzer-deadcode.DeadStores,
  # clang-analyzer-optin.performance.Padding,
  # clang-analyzer-optin.cplusplus.VirtualCall,

# Turn all the warnings from the checks above into errors.
HeaderFilterRegex: '(src|test/unit|test/drivers|test/mock)/*'
FormatStyle: file
